<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>Word Frequency Counter</title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Word Frequency Counter</h1>
            </header>
            {% if result > 1 %}
            <p>That word is contained in your sentence {{ result }} times!</p>
            {% elseif result == 1 %}
            <p>That word is contained in your sentence {{ result }} time!</p>
            {% elseif result == 0 %}
            <p>That word is not contained in your sentence!</p>
            {% endif %}
            <p><a href="/">Try another word/sentence combination</a></p>
        </div>
    </body>
 </html>
